.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.side_bar{
    border: 1px solid green;
    grid-area: 1/1/3/2;
}
.title{
    border: 1px solid yellow;
    grid-area: 1/2/2/3;
}
.content{
    border: 1px solid red;
    grid-area: 2/2/3/3;
}